.head{
	display: flex;
	justify-content: space-between;
	width: 100%;

}
.head .left img,ul{
	float: left;
	margin-right: 5px;
}
.head .left ul li{
	float: left;
	line-height: 49px;
	margin-right: 22px;
	font-size: 15px;
	color: #8D8D8D;
	cursor: pointer;
}
.head .left ul .dow{
	position: relative;
}
.head .left ul .dow span{
	font-size: 15px;
	color: #E1140A;
}
.head .left ul .dow img{
	display: none;
	position: absolute;
	width: 233px;
	height: 124px;
	left: -32px;
	top: 43px;
	z-index: 8;
}
.head .left ul .dow:hover img{
	display: block;
}
.head .right{
	height: 49px;
	display: flex;
	align-items: center;
}
.head .right a{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #000;
	display: block;
	
}
.head .right i{
	display: block;
	border-left: 1px solid #b8b8b8;
	height: 11px;
	display: inline-block;
	margin: auto 2px;
	
}
.head .right span{
	position: absolute;
	display: block;
	top: 32px;
	right: 0;
	width: 157px;
	height: 33px;background: url(https://p2.lefile.cn/product/adminweb/2019/01/18/028da9e3-588c-4a8c-9ed7-e94a9c639a12.png) no-repeat;
	background-size: 157px 33px;
	line-height: 36px;
	padding-right: 36px;
	padding-left: 10px;
	cursor: pointer;
	color:#ba9964 ;
}
.head .right span img{
	position: absolute;
	right: 53px;
	top: 8px;
}
.head .right p{
	margin-right: 31px;
	margin-left: 30px;
}
.banner{
	display: flex;
	justify-content: space-between;
	padding-left: 55px;
	background: #e0e0e0
}
.banner ul li{
	float: left;
	margin-right: 45px;
	line-height: 70px;
	font-size: 17px;
	color: #3a3a3a;
	font-weight: 550;
}
.banner form{
	width: 270px;
	height: 36px;
	background-color: #eaeaea;
	border-radius: 30px;
	margin: 17px 31px 0 0;
}
.banner form input{
	width: 220px;
	height: 36px;
	font-size: 12px;
	line-height: 36px;
	background-color: transparent;
	border: 0;
	color: #999;
	padding: 0 0 0 17px;
	float: left;
}
.banner form a {
	display: block;
	background: url(https://p4.lefile.cn/product/adminweb/2018/12/29/f26ff743-3f82-4072-b27a-193f0e9ad675.png) no-repeat center;
	width: 20px;
	height: 20px;
	float: left;
	margin-top: 8px;
}
.img,.swiper-container{
	height: 470px;
}

.swiper-container {
      width: 100%;
      height: 470px;
	
    }
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
	  line-height: 470px;
}
.swiper-slide:nth-of-type(1){
	background: url(https://p4.lefile.cn/fes/cms/2020/03/01/qqtbous0ylqn5j3a8o918jnzedw6pj031603.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(2){
	background: url(https://p4.lefile.cn/fes/cms/2020/03/02/6e6n59wypnabheep1i04lqcqhsck38180565.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(3){
	background: url(https://p2.lefile.cn/fes/cms/2020/02/25/tk3ng3np3l3bwdchq7z70rs2dep30l177483.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(4){
	background: url(https://p4.lefile.cn/fes/cms/2020/02/25/mms1akgm0w10nbfjft6v3kxlacuiet745443.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(5){
	background: url(https://p2.lefile.cn/fes/cms/2020/02/27/rf3aec7flyg7r2h6s2h476qqilmxgh577743.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(6){
	background: url(https://p4.lefile.cn/fes/cms/2020/02/25/go5bfmm3o7gxdx6z5w7xk1d4j5y9t0081810.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(7){
	background: url(https://p3.lefile.cn/fes/cms/2020/02/18/sf687ud9lik9shzww4n732k43ktpwr373312.jpg) no-repeat center center;
}
.swiper-slide:nth-of-type(8){
	background: url(https://p3.lefile.cn/fes/cms/2020/02/20/xs2jovozc87lhy8m6x6o3feddg6ngh706299.jpg) no-repeat center center;
}
.a .next,.a .prev{
	color: white;
	display: none;
}
.a:hover .prev{
	display: block;
}
.a:hover .next{
	display: block;
}
.a .pagination{
	top:430px
}
.list{
	position: relative;
}

.list .option{
	width: 230px;
	position: absolute;
	top: 33px;
	left: 50%;
	margin-left: -600px;
	z-index: 10;
	background-color: red;
}
.list .option div{
	position: relative;
	font-family: "微软雅黑";
}
.list .option a{
	width: 184px;
	display: block;
	height: 25.5px;
	line-height: 25.5px;
	color: #494949;
	font-weight: 600;
	font-size: 16px;
	padding: 16px 15px 15px 30px;
	border-bottom: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	position: relative;
}
.list .option span{
	position: absolute;
	right: 19px;
	top: 24px;
	width: 6px;
	height: 9px;
	background: url(../images/L.png);
	background-position: -84px -36px;
}
.list .option ul{
	position: absolute;
	top: 0;
	left: 230px;
	background-color: #f7f7f7;
	padding-top: 8px;
	color: #494949;
}
.list .option ul li{
	/* width: 630px;
	float: left; */
	margin-bottom: 20px;
	font-family: "微软雅黑";
}
.list .option ul li p{
	border-right: 1px solid #CCCCCC;
	color: #494949;
	font-size: 13px;
	margin-top: 10px;
	color: #494949;
	float: left;
	text-align: right;
	width: 96px;
	background: url(https://p1.lefile.cn/product/adminweb/2019/07/08/5edf2b2c-f8a5-446a-b215-a9af1f7d1606.png) no-repeat right center;
	padding-right: 20px;
	line-height: 20px;
	box-sizing: border-box;
	font-weight: 550;
}
.list .option ul li ol{
	margin-left: 96px;
	width: 575px;
	padding-bottom: 5px;
	
}
.list .option ul li ol li{
	font-size: 12px;
	float: left;
	line-height: 20px;
	border-left: 1px solid #e5e5e5;
	padding-left: 12px;
	padding-right: 12px;
	color: #191919;
	white-space: nowrap;
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: 800;
}
.list .option ul li ol li:nth-of-type(1){
	border: none;
}